.form-input {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .form-check {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .form-check-input {
            margin-top: 0 !important;
        }

        .form-check-label {
            margin-bottom: 0;
        }
    }
}
