.input-password {
    .input-item {
        display: flex;
        flex-direction: row;
        column-gap: 1em;
        align-items: center;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding-right: 1em;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:focus-within {
            border: 1px solid #344767;
        }

        input {
            border: none;
            flex: 1;

            &:focus {
                border: none;
                box-shadow: none;
            }
        }

        .toggle-password {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .icon {
                color: #344767;
                font-size: 20px;
            }
        }
    }
}
