#login-page {
    overflow-x: hidden;
    overflow-y: hidden;

    .container-fluid {
        padding: 0;
    }

    h1 {
        color: #fff;
    }

    label {
        color: white;
        font-size: large;
        font-weight: 500;
        margin: 0;
    }

    .side-right {
        background: linear-gradient(
            153.69deg,
            #0144a7 0%,
            #30b4ff 60.45%,
            #00f0c5 100%
        );
        height: 100vh;

        h1 {
            font-weight: 700;
            margin-bottom: 50px;
        }
    }

    .side-left {
        background-color: white;
        height: 100vh;

        img {
            margin-bottom: 50px;
            width: 200px;
        }

        h1 {
            color: #0161a7;
            font-weight: 700;
        }

        p {
            color: #2697d8;
            font-weight: 600;
            font-size: large;
        }

        span {
            color: #0161a7;
        }
    }

    .input-field {
        display: flex;
        flex-direction: column;
        position: relative;
        font-weight: 500;
        font-size: large;
        width: 450px;
    }

    .input {
        height: 40px;
        border: none;
        background: transparent;
        border-bottom: 2px solid white;
        outline: none;
        color: white;
    }

    #email {
        margin-bottom: 50px;
    }

    #password {
        margin-bottom: 30px;
    }

    #show {
        display: none;
    }

    .submit {
        border: none;
        outline: none;
        height: 45px;
        background: white;
        color: #0161a7;
        border-radius: 15px;
        margin: 20px 0;
        text-align: center;
        font-weight: 700;
    }

    .submit:hover {
        background: #0144a7;
        color: white;
    }

    .remember {
        margin-bottom: 10px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            float: right;
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: #014575;
        }
    }

    .eye {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .signup {
        text-align: center;

        p {
            font-weight: 500;
            color: #0161a7;
        }

        a {
            font-weight: 600;
            color: #005796;
            text-decoration: none;
        }

        a:hover {
            color: white;
        }
    }
}

// @media screen and (max-width: 450px) {
//     .side-left {
//         h1 {
//             font-size: 26px;
//         }

//         p {
//             font-size: 13px;
//         }
//     }
// }

// @media screen and (max-width: 550px) {
//     .side-left {
//         height: 30vh;
//         margin-top: 10px;

//         img {
//             margin-bottom: 10px;
//             width: 100px;
//         }

//         h1 {
//             font-size: 28px;
//         }

//         p {
//             font-size: 14px;
//         }
//     }

//     .side-right {
//         height: 70vh;

//         h1 {
//             margin-bottom: 40px;
//         }
//     }

//     .input-field {
//         width: 350px;
//         font-size: medium;
//     }

//     #login-page #email {
//         margin-bottom: 30px;
//     }

//     #login-page #password {
//         margin-bottom: 15px;
//     }
// }

// @media screen and (max-width: 767px){
//     .side-left {
//         height: 30vh;

//         img {
//             margin-bottom: 10px;
//             width: 100px;
//         }
//     }

//     .side-right {
//         height: 70vh;

//         h1 {
//             margin-bottom: 40px;
//         }
//     }

//     .input-field {
//         width: 500px;
//     }

// }
