#verify-page {
    background: linear-gradient(
        153.69deg,
        #0144a7 0%,
        #30b4ff 60.45%,
        #00f0c5 100%
    );
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 35rem;
        text-align: center;
        border-radius: 15px;

        img {
            width: 100px;
            margin-bottom: 20px;
        }

        button {
            margin-top: 20px;
            margin-bottom: 5px;
            border-radius: 10px;
        }

        form {
            font-size: larger;
        }
    }

    @media screen and (max-width: 620px) {
        .card {
            margin: 30px;
        }
        form {
            font-size: large;
        }
    }
}
